modules = ["postgresql-16", "python-3.11"]

[nix]
channel = "stable-24_05"
packages = ["cacert", "cairo", "cargo", "cgal_5", "chromedriver", "expat", "ffmpeg-full", "freefont_ttf", "freetype", "ghostscript", "gl2ps", "glibcLocales", "gobject-introspection", "gtk3", "hdf5", "imagemagick_light", "lcms2", "libGL", "libGLU", "libcxx", "libiconv", "libimagequant", "libjpeg", "libtiff", "libwebp", "libxcrypt", "lsof", "mailutils", "opencascade-occt", "openjpeg", "openssl", "pkg-config", "postgresql", "qhull", "rustc", "swig", "tcl", "tk", "vtk", "xsimd", "zlib"]

[deployment]
deploymentTarget = "autoscale"
run = ["gunicorn", "--bind", "0.0.0.0:5000", "main:app"]
build = ["sh", "-c", "pip install -r requirements.txt"]

[workflows]

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "install_dependencies"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "gunicorn --bind 0.0.0.0:5000 --reuse-port --reload main:app"
waitForPort = 5000

[[workflows.workflow]]
name = "install_dependencies"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "uv add cadquery flask-cors"

[[ports]]
localPort = 5000
externalPort = 80
