web: npm run build && gunicorn "app:create_app()" --bind 0.0.0.0:$PORT --worker-class gthread --workers=2 --threads=8 --timeout=600 --access-logfile - --error-logfile - --log-level info
worker: ./start_worker.sh
beat: ./start_beat.sh
