redis==5.0.1
rq==1.15.1
python-dotenv==1.0.0
boto3==1.35.0
requests==2.32.4

numpy==1.24.4
scipy==1.10.1
matplotlib==3.10.3
trimesh==4.6.13
networkx==3.4.2

cadquery==2.4.0
cadquery-ocp==7.7.2.2b2
ocp-linux-amd64==0.1.9
OCP==0.1.9
ezdxf==1.4.2
nptyping==2.0.1
nlopt==2.9.1
casadi==3.7.0
