# --- Infra / file IO ---
redis==4.6.0
rq==1.15.1
boto3==1.35.0
requests==2.32.4

# --- NumPy stack compatible ---
numpy>=1.24,<2.0
scipy>=1.11,<1.12
scikit-image==0.21.0

# --- Géométrie / meshes ---
trimesh>=4.8
networkx==3.4.2
Rtree==1.2.0
ezdxf==1.4.2

# --- OCCT (bindings) via CadQuery OCP wheels ---
cadquery-ocp==7.7.2.2
cadquery==2.4.0
vtk==9.2.6

# À ne PAS installer:
# OCP
# vtk
# cadquery
